<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/materialize.js"></script>
    <link rel="stylesheet" href="../style/materialize.css">
    <link rel="stylesheet" href="../style/bootstrap-material-design.css">
    <link rel="stylesheet" href="../font-awesome/css/all.min.css">
    <title>Registro | TecnoVentas</title>

    <style>
      body{
        background-image: url("../images/macos.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>

  </head>
  <body>
    <center>
      
      <div class="log" style="border-radius: 4%; width: 550px; margin-right:25%; margin-left:25%; margin-top: 0.2%; margin-bottom: 0.2%; background-color: rgba(0, 0, 0, 0.6); padding: 0%; filter: drop-shadow(5px 5px 10px #444); color: white;">
        <br>
        <div class="logo" style="margin: 10px;">
          <img src="../images/logo_cut.png" alt="" width="115px" height="115px" style="border-radius: 50%; filter: drop-shadow(5px 5px 10px #444);">
        </div>
        <div class="contenedor" style="margin: 0 auto;">
          <h4 align="center">Registrate en TecnoVentas</h4>
        </div>
        <div style="width: 500px; margin: 0 auto; vertical-align: middle;">
          <form class="col s12" action="../controller/validate.php" method="post">
            <div class="row" style="padding: 0%; margin: 2.5%;">
              <div class="input-field col s12">
                <input id="name" type="text" class="validate" name="nombre" required style="color: white;">
                <label for="name"><i class="fas fa-user"></i>&nbsp;Nombre</label>
              </div>
              <div class="input-field col s6">
                <input id="apellidoP" type="text" class="validate" name="apellidoP" required style="color: white;">
                <label for="apellidoP">Apellido Paterno</label>
              </div>
              <div class="input-field col s6">
                <input id="apellidoM" type="text" class="validate" name="apellidoM" required style="color: white;">
                <label for="apellidoM">Apellido Materno</label>
              </div>
            </div>
            <div class="row" style="padding: 0%; margin: 2.5%;">
              <div class="input-field col s6">
                <input type="email" name="correo" id="correo" required class="validate" style="color: white;">
                <label for="correo"><i class="fas fa-at"></i>&nbsp; Correo electrónico</label>
              </div> 
            </div>
            <div class="row" style="padding: 0%; margin: 2.5%;">
              <div class="input-field col s6">
                <input type="text" name="username" id="username" required class="validate" style="color: white;">
                <label " for="username"><i class="fas fa-user-edit"></i>&nbsp;Nombre de usuario</label>
              </div> 
              <div class="input-field col s6">
                <input id="password" type="password" class="validate" name="pwd" required style="color: white;">
                <label for="password"><i class="fas fa-key"></i>&nbsp;Contraseña</label>
              </div>
            </div>
            <div class="row" style="padding: 0%; margin: 2.5%;">
              <div class="input-field col s6">
                <input type="text" name="direccion" id="direccion" required class="validate" style="color: white;">
                <label for="direccion"><i class="fas fa-map-marker-alt"></i>&nbsp;Dirección para envíos</label>
              </div> 
            </div>
            <div class="row" style="padding: 0%; margin: 2.5%;">
              <div class="input-field col s6">
                <input type="text" name="cp" id="cp" required class="validate" style="color: white;">
                <label for="cp"><i class="fas fa-home"></i>&nbsp;Código Postal</label>
              </div>
              <div class="input-field col s6">
                <input type="tel" name="telefono" id="telefono" required class="validate" style="color: white;">
                <label for="telefono"><i class="fas fa-phone"></i>&nbsp;Número de contacto</label>
              </div> 
            </div>
            <p>¿Ya tienes una cuenta?, inicia sesión <a href="login.html">aquí</a></p>
            <div class="btnIS" align="center" style="filter: drop-shadow(2px 2px 2px #444);">
              <input class="btn waves-effect waves-light" style="background-color: #1D90D6;" type="submit" name="action" value="Iniciar Sesión">
            </div>
            <br>
          </form>
        </div>
      </div>
    </center>
  </body>
</html>